.text {
    color: red;
    padding-left: 10px;
}
.possuiConta {
    color: blue;
    text-align: center;
    font-size: 120%;
    padding: 5%;
}
.botao {
   width: 100%;
   text-align: right;
   padding-right: 5%;
}
