.imagemLogo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
.divLogo {
    text-align: center;
    font-size: 150%;
    margin-top: 10%;
}
.botao {
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 18px;
}
.esqueceSenha{
    text-align: center;
    color: blue;
    font-size: 110%;
    padding: 5%;
}
