.periodo {
    font-size: 150%;
    border: 1px solid darkgray;
    border-radius: 30%;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    width: 30%;
    height: 80%;
    line-height: 90px;
    vertical-align: middle;
    text-align: center;
}
.card {
    display: inline-flex;
    width: 93%;
    height: 25%;
    padding: 4%;
    padding-left: 4%;
}
.gasto {
    font-size: 130%;
    margin-left: 5%;
    height: 80%;
}
.a {
    font-style: 90%;
}
.title{
    padding:5%;
    text-align: center;
}

