.formLogin{
    margin: auto;
    text-align: center;
    width: 95%;
}
.button{
  position: relative;
  padding-top: 20px;
  height: 60px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.card{
    display: flex;
    align-items: center;
}
.negLista{
  text-align: center;
  font-size: 110%;
}
b{
  color: blue;
}
.cabecalho{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5%;
}